{_'customer'}
{_'new'}
{_'old'}
{_'order'}

{_'A message!'}
{_p'context', 'Another message!'}
{_n'I see %d little indian!', 'I see %d little indians!', 3|printf:3}
{_np'context', 'I see %d little indian!', 'I see %d little indians!', $number |printf:$number}

{_$foo}
{_p'context', $bar}
{_np$baz, 'I see %d little indian!', 'I see %d little indians!', 3}

{_n'little %s cat jumped on %s', '%d little %s cats jumped on %s', 3}